<div class="container my-4">
    <div class="d-flex align-items-center justify-content-center" style="height: 650px">
        <div class="p-2 bd-highlight col-example">
           <div class="d-flex justify-content-center">
               <%= image_tag "logo-pmm.svg", class: "mw-250px mh-250px card-rounded" %>
           </div>
           <h2 class="card-title text-center"> Seja bem-vindo(a) ao <%= Rails.application.class.module_parent_name %></h2>
           <p class="text-center fs-5 text-secondary"> Prefeitura Municipal de Mossoró </p></p>
        </div>
    </div>
</div>